<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>otp verification</title>
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <div id="main">
    <div class="wrapper">
      <div class="inner">
        <form action="" method="post">
          <h3>OTP verification</h3>
          <% if (typeof message !== 'undefined') { %>

          <p style="color: red;margin-top: 10px; "><%= message %></p>
          <br>
          <% } %>
          <label>
            Please enter the OTP
            <br>
            <br>

          </label>

          <p id="timer"></p>

          <div class="otp-h">
            <div class="form-wrapper otp-h">
              <input name="otp" type="number" class="form-control " id="otp1" required>
            </div>

          </div>
          Didn`t received the code <a href="/resend-otp?email=<%= email %>" id="resend-message">resend</a>

          <button type="submit" id="submit-btn">Verify</button>
        </form>
      </div>
    </div>
  </div>


  <script src="/js/userFunctions/otp.js"></script>


</body>

</html>